{% extends 'structure.html' %}   
{%load static%}
{% block body_page %}

      <div class="container">

        <p>Bem-vindo   {%if usuario%}
  {{usuario}}
  {% endif %}!</p>

        <form id="atv" align="center" action="/core/toggle" method="get">
          <div align="center">
           {% if ativado %}
           <p align="center">Sistema Habilitado.</p>
           <p><img src="{% static "img/open1.png" %}" width="100" height="100"></p>
        	 <p><input align="center" class="btn btn-primary btn-lg" role="button" type = "submit" value="Desabilitar"></p>
            {% else %}
            <p align="center">Sistema Desabilitado.</p>
            <p><img src="{% static "img/close1.png" %}" width="100" height="100"></p>
	         <p><input align="center" class="btn btn-primary btn-lg" role="button" type = "submit" value="Habilitar"></p>
            {% endif %}
          </div>
        </form>


        </div>      
    </div>

    <div class="container">
      <!-- Example row of columns -->
     <div>
          {% block heading %}{% endblock %}
      </div>
      <div>
          {% block content %}{% endblock %}
      </div>

      <hr>

      <footer>
        <p>&copy; Sispai 2014</p>
      </footer>
    </div>
{% endblock %}
