{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Sispai - {% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">

       <script src="{% static "js/vendor/modernizr-2.6.2-respond-1.1.0.min.js" %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="http://127.0.0.1:8000/core/" ><img src="{% static "img/SISPAI.png" %}" width="150" height="120"></a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Logar</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    
    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="jumbotron">
      <div class="container">
        <h1>Bem-vindo ao Sispai!</h1>
        <p>Todos são bom demais.</p>
        
        <form action="/core/toggle" method="get">
          {% if ativado %}
        	<input  class="btn btn-primary btn-lg" role="button" type = "submit" value="Desligar Lâmpada">
    <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
        <p></p>
        <table style="100%">
        <tr>
        <td width="450px">
        </td>
        <td>
          {%if checado %}
          <button type="button" width="50px" style="color:blue" class="btn btn-default navbar-btn">
            Sensores: Checados
          </button>
          {% else %}
          <button type="button" width="50px" style="color:red" class="btn btn-default navbar-btn">
            Sensores: Não Checados
          </button>
          {% endif %}
          <button type="button" width="50px" class="btn btn-default navbar-btn">Histórico</button>
          <button type="button" width="50px" class="btn btn-default navbar-btn">Configurações</button>
          <button type="button" width="50px" class="btn btn-default navbar-btn">Sair</button>
        </td>
        </tr>
        </table>
        </div>
      </div>
    </nav>
    </div>
      
      <div class="container">

        <h2>Bem-vindo ao Sispai!</h2>

        <form id="atv" align="center" action="/core/toggle" method="get">
          <div align="center">
           {% if ativado %}
           <p align="center">Sistema Ativado.</p>
        	 <input align="center" class="btn btn-primary btn-lg" role="button" type = "submit" value="Desativar">
            {% else %}
            <p align="center">Sistema Desativado.</p>
	         <input align="center" class="btn btn-primary btn-lg" role="button" type = "submit" value="Ativar">
            {% endif %}
          </div>
        </form>


        </div>      
    </div>

    <div class="container">
      <!-- Example row of columns -->
     <div>
          {% block heading %}{% endblock %}
      </div>
      <div>
          {% block content %}{% endblock %}
      </div>

      <hr>

      <footer>
        <p>&copy; Sispai 2014</p>
      </footer>
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.10.1.min.js" %}"><\/script>')</script>

        <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>

        <script src="{% static "js/main.js" %}"></script>

     
    </body>
</html>
