{% extends 'structure.html' %}   

{% block data_menu %}
    <form method="get" name action="/control">
		{%if checado %}
			<button type="submit" name="sensorInfo" width="50px" style="color:blue" class="btn btn-default navbar-btn">
				Sensores: OK
			</button>
		{% else %}
			<button type="submit" name="sensorInfo" width="50px" style="color:red" class="btn btn-default navbar-btn">
				Sensores: Falha detectada
			</button>
		{% endif %}
			<button type="submit" name="history" width="50px" class="btn btn-default navbar-btn">Histórico</button>
		    <button type="submit" name="logout" width="50px" class="btn btn-default navbar-btn">Sair</button>
	</form>
{% endblock %}

{% block body_page %}
      <div class="container">

        <h2>Bem-vindo ao Sispai!</h2>

        <form id="atv" align="center" action="/core/toggle" method="get">
          <div align="center">
           {% if ativado %}
           <p align="center">Sistema Ativado.</p>
        	 <input align="center" class="btn btn-primary btn-lg" role="button" type = "submit" value="Desativar">
            {% else %}
            <p align="center">Sistema Desativado.</p>
	         <input align="center" class="btn btn-primary btn-lg" role="button" type = "submit" value="Ativar">
            {% endif %}
          </div>
        </form>


        </div>      
    </div>

    <div class="container">
      <!-- Example row of columns -->
     <div>
          {% block heading %}{% endblock %}
      </div>
      <div>
          {% block content %}{% endblock %}
      </div>

      <hr>

      <footer>
        <p>&copy; Sispai 2014</p>
      </footer>
    </div>
{% endblock %}
