{% extends 'structure.html' %}

{% block body_page %}
	
	<a href="/core/">Inicial</a>

<table class="table table-bordered">
	<tbody>
		<tr>
			<td>sensor infra-vermelho</td>
			{% if infrared %}
				<td style="color:red">Falhando</td>
			{% else %}
				<td style="color:blue">Funcionando</td>
			{% endif %}
		</tr>
		<tr>
			<td>sensor de presença</td>
			{% if zigbee %}
				<td style="color:red">Falhando</td>
			{% else %}
				<td style="color:blue">Funcionando</td>
			{% endif %}
		</tr>
		<tr>
			<td>sensor de pressão</td>
			{% if crush %}
				<td style="color:red">Falhando</td>
			{% else %}
				<td style="color:blue">Funcionando</td>
			{% endif %}
		</tr>
		<tr>
			<td>sensor de fim de curso de abertura</td>
			{% if endCourseOpen %}
				<td style="color:red">Falhando</td>
			{% else %}
				<td style="color:blue">Funcionando</td>
			{% endif %}
		</tr>
		<tr>
			<td>sensor de fim de curso de fechamento</td>
			{% if endCourseClose %}
				<td style="color:red">Falhando</td>
			{% else %}
				<td style="color:blue">Funcionando</td>
			{% endif %}
		</tr>
	</tbody>
</table>

{% endblock %}
